---
import Pie from "../style/footer.css";
import instagram from "../img/insta.png"
---

<head>
    <Pie />
</head>
<body>
    <footer>
        <div class="redes">
            <a href="https://www.instagram.com/esteelauv_" target="_blank">
                <img src={instagram.src} alt="insta">
                <p>
                    Principal
                </p>
            </a>
            <a href="https://www.instagram.com/estelitaa26" target="_blank">
                <img src={instagram.src} alt="insta">
                <p>
                    Secundaria
                </p>
            </a>
        </div>
        <div class="copy">
            <p>
                20224. Casi todos los derechos reservados <a href="https://www.instagram.com/aroniii911" target="_blank">&copy;Aarón García González</a>
            </p>
        </div>
    </footer>
</body>