---
import Cabecera from "../style/header.css";
---

<head>
    <Cabecera />
</head>
<body>
    <header>
        <h1><a href="/">ESTELA</a></h1>
        <nav>
            <button><a href="/">Home</a></button>
            <button><a href="/info">Info</a></button>
            <button><a href="/galeria">Galeria</a></button>
        </nav>
    </header>
</body>